.signup{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup-form{
    border: var(--inborder);
    padding: 10px 20px;
    width: 15%;
    border-radius:10px ;
}
#signup-form > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
